*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'My Type';
  src: url('./images/mytype.woff');
}
body {
  font-family: Verdana, sans-serif;
  background-color: #8e8c8f;
  color: #efeefd;
}

a {
  text-decoration: none;
  color: white;
}
header {
  position: fixed;
  top: 0;
  background-color: #03012c;
  width: 100%;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 150px;
}

nav li {
  margin: 10px 25px;
  font-size: 1.25rem;
  font-weight: 500;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.intro {
  display: flex;
  height: 60vh;
  align-items: center;
  justify-content: space-around;
}

.typing {
  text-align: center;
  font-family: 'My Type';
}
.typing h1 {
  font-size: 5rem;
}

.typing h2 {
  font-size: 2.5rem;
}

.intro img {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
}

section {
  margin-bottom: 2rem;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.card-container {
  margin: 20px;
  height: 400px;
  width: 290px;
}

.card-hover {
  transform: rotateY(180deg);
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1.5s ease-in-out;
  transform-style: preserve-3d;
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-bottom: 40px solid #565557;
  border-left: 40px solid #8e8c8f;
  border-bottom-right-radius: 4px;
}

.card-title {
  margin: 3rem auto 1.75rem;
}

.card img {
  width: 80%;
  height: auto;
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  padding: 0.1px;
  border-radius: 6px;

  position: absolute;
  background-color: #7d7b7e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-back {
  transform: rotateY(180deg);
}

.description {
  margin: 1.5rem;
}

.tech-list {
  list-style: none;
  margin-bottom: 1.5rem;
}
.btn {
  text-decoration: none;
  background-color: #050242;
  margin: 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  color: white;
}

.btn:hover {
  transform: scale(0.9);
}
#about {
  padding: 1.5rem 1rem;
}

#about-desc {
  margin: 0 auto 1.5rem;
  width: 90%;
}
#contact {
  padding: 1.5rem 1rem;
}

#contact > a {
  display: block;
  width: 7rem;
  text-align: center;
}
h3 {
  margin: 1rem 0;
}
.skills-list {
  list-style: none;
}
.skills-list-item {
  display: inline;
  padding: 0.5rem 0.75rem;
}
@media (max-width: 1000px) {
  nav ul {
    justify-content: center;
    margin-right: 0;
  }
  .intro {
    flex-direction: column;
    height: auto;
    margin-top: 80px;
  }
  img {
    width: 300px;
    height: 300px;
  }
  .typing h1 {
    font-size: 3.5rem;
  }

  .typing h2 {
    font-size: 1.5rem;
  }
  .projects {
    justify-content: center;
  }
}

@media (max-width: 655px) {
  nav ul {
    justify-content: space-around;
    margin-right: 0;
  }

  .intro img {
    width: 200px;
    height: 200px;
  }
  .typing h1 {
    font-size: 3.5rem;
  }

  .typing h2 {
    font-size: 1.5rem;
  }
  .section-title {
    margin: 1rem;
    text-align: center;
  }
  .projects {
    flex-direction: column;
    align-items: center;
  }
  .card-container {
    margin: 10px 0;
  }
}
