.footer {
  width: 100vw;
  height: 10vh;
  background-color: darkslategray;
  color: floralwhite;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.footer button {
  color: floralwhite !important;
}
