.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  background-color: darkslategray;
  color: floralwhite;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
} */

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.footer button {
  color: floralwhite !important;
}

.socials {
  width: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
